.menu {
	-fx-background-color: radial-gradient(radius 100%, #1cc6ea, #1a2baa);	
}

.textbutton {
	-fx-background-color: white;
	-fx-border-image-source: url("border_banquise.png");
	-fx-border-image-slice: 20, 20, 25, 20;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 20px 20px 25px 20px;
	-fx-background-insets: 15px;
}

.leftbutton {
	-fx-background-image: url("leftarrow_ice.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.mapbutton {
	-fx-background-image: url("banquise.png");
	-fx-pref-width: 320px;
	-fx-pref-height: 230px;
	-fx-border-image-source: url("border_banquise.png");
	-fx-border-image-slice: 20, 20, 25, 20;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 20px 20px 25px 20px;
	-fx-border-image-insets: -20px;
}

.rightbutton {
	-fx-background-image: url("rightarrow_ice.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.button:hover {
	-fx-effect:  dropshadow(three-pass-box, rgba(255,255,255,1), 15, 0, 0, 0);
}
