.menu {
	-fx-background-color: radial-gradient(radius 100%, #1cc6ea, #1a2baa);	
}

.textbutton {
	-fx-border-image-source: url("fond_score.png");
	-fx-background-image: url("back_banquise.png");
	-fx-background-repeat: stretch;
	-fx-border-image-slice: 45, 45, 45, 45;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 10px 10px 10px 10px;
	-fx-background-insets: 0px;
	-fx-border-image-insets: -10px;
	-fx-text-fill: black !important;
}

.leftbutton {
	-fx-graphic:  url("leftarrow_ice.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.mapbutton {
	-fx-background-image: url("banquise.png");
	-fx-background-repeat: stretch;
	-fx-border-image-source: url("fond_score.png");
	-fx-border-image-slice: 45, 45, 45, 45;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 10px 10px 10px 10px;
	-fx-pref-width: 320px;
	-fx-pref-height: 230px;
	-fx-border-image-insets: -10px;
}

.rightbutton {
	-fx-graphic:  url("rightarrow_ice.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.leftbuttonsmall {
	-fx-graphic:  url("leftarrow_small_ice.png");
	-fx-pref-width: 15px;
	-fx-pref-height: 16px;
}

.rightbuttonsmall {
	-fx-graphic:  url("rightarrow_small_ice.png");
	-fx-pref-width: 15px;
	-fx-pref-height: 16px;
}

.button:hover {
	-fx-effect:  dropshadow(three-pass-box, rgba(255,255,255,1), 15, 0, 0, 0);
}

.scroll-pane .closebtn {
	-fx-graphic: url("close_banquise_small.png");
}

.scroll-pane .closebtn:hover {
	-fx-effect:  dropshadow(three-pass-box, rgba(255,0,0,1), 15, 0.5, 0, 0);
}

.trislider {
	-fx-border-image-source: url("fond_score.png");
	-fx-background-image: url("back_banquise.png");
	-fx-background-repeat: stretch;
	-fx-border-image-slice: 45, 45, 45, 45;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 10px 10px 10px 10px;
	-fx-background-insets: 0px;
	-fx-border-image-insets: -10px;
}

.nameplayer:hover {
	-fx-effect:  dropshadow(three-pass-box, rgba(255,255,255,1), 15, 0, 0, 0);
}

.radio-button {
	-fx-text-fill: white;
}

.terrainchoix {
	-fx-background-color: rgba(255, 255, 255, 0.3);
	-fx-background-radius: 15px;
}

.split-pane-divider {
	-fx-background-image: url("slider.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-padding: 8px;
}






