.menu {
	-fx-background-color: radial-gradient(radius 100%, #fcae4aff, #da5146ff);
}

.textbutton {
	-fx-background-color: #7c3f34ff;
	-fx-border-image-source: url("border_hell.png");
	-fx-border-image-slice: 20, 20, 25, 20;
	-fx-border-image-repeat: repeat;
	-fx-border-image-width: 20px 20px 25px 20px;
	-fx-background-insets: 15px;
	-fx-text-fill: white;
}

.leftbutton {
	-fx-background-image: url("leftarrow_hell.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.mapbutton {
	-fx-background-image: url("enfer.png");
	-fx-pref-width: 320px;
	-fx-pref-height: 230px;
	-fx-border-image-source: url("border_hell.png");
	-fx-border-image-slice: 20, 20, 25, 20;
	-fx-border-image-repeat: stretch;
	-fx-border-image-width: 20px 20px 25px 20px;
	-fx-border-image-insets: -20px;
}

.rightbutton {
	-fx-background-image: url("rightarrow_hell.png");
	-fx-pref-width: 71px;
	-fx-pref-height: 77px;
}

.button:hover {
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,1), 15, 0, 0, 0);
}

.label {
	-fx-text-fill: white;
}
