@font-face {
    font-family: Luckiest Guy;
    src: url('LuckiestGuy.ttf');
}

.menu {
	-fx-alignment: center;
	-fx-font-family: "Luckiest Guy";
	-fx-spacing: 25px;
}

.playandback {
	-fx-alignment: center;
	-fx-spacing: 25px;
}

.label {
	-fx-text-fill: white;
	-fx-font-size: 58px;
}

.moyen {
	-fx-font-size: 42px;
}

.smaller {
	-fx-font-size: 28px;
}

.nameplayer {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-padding: 0px;
	-fx-font-size: 25px;
	-fx-max-width: 205px;
}

.iconbutton {
	-fx-background-color: transparent;
}

.mapselection {
	-fx-spacing: 50px;
}

.textbutton {
	-fx-font-size: 38px;
	-fx-padding: 0px;
}

.smallerbtn {
	-fx-font-size: 24px;
	-fx-border-image-width: 5px 5px 5px 5px;
	-fx-background-insets: 4px;
}

.title {
	-fx-font-size: 72px;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane .label {
	-fx-font-size: 25px;
}

.scroll-pane .closebtn {
	-fx-pref-height: 24px;
	-fx-pref-width: 20px;
	-fx-alignment: center;
}

.scroll-pane .button {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-padding: 0px;
	-fx-font-size: 25px;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-pref-height: 213px;
	-fx-max-width: 560px;
	-fx-fit-to-height: true;
	-fx-fit-to-width: false;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-unit-increment: 1;
	-fx-block-increment: 1;
}

.center {
	-fx-alignment: top-center;
	-fx-spacing: 15px;
	-fx-padding: 15px;
}

.joueurconfig {
	-fx-spacing: 20px;
}

.trislider .slice {
	-fx-min-width: 0px;
	-fx-pref-height: 96px;
	-fx-alignment:	center;
}

.trislider {
	-fx-max-width: 400px;
}

.trislider-first {
	-fx-background-color: #bbcefd;
}

.trislider-second {
	-fx-background-color: #c9ccd2;
}

.trislider-third {
	-fx-background-color: #d3c173;
}

.terrainlayout {
	-fx-spacing: 100px;
	-fx-max-width: 1000px;
	-fx-align: center;
}

.onepoisson {
	-fx-image: url("1poisson.png");
}

.twopoisson {
	-fx-image: url("2poissons.png");
}

.threepoisson {
	-fx-image: url("3poissons.png");
}

.file_disable {
	-fx-font-size: 16px;
	-fx-strikethrough: true;
	-fx-text-fill : darkred;
}

.terrain {
	-fx-pref-width: 600px;
}
