.button {
	-fx-border-color: rgb(68,68,68);
	-fx-border-width: 2;
	-fx-border-insets: 3;
	-fx-background-color: transparent;	
	-fx-font-family: "Luckiest Guy";
	-fx-font-size: 28px;
	-fx-text-fill: rgb(68,68,68);
}

.label {
	-fx-font-family: "Luckiest Guy";
	-fx-font-size: 28px;
	-fx-text-fill: rgb(68,68,68);
	-fx-alignment: center ;
}

.button:hover{
	-fx-border-width: 5;
	-fx-border-insets: 0;
}